.navigation {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: #2f4050;
  padding: 0%;
  margin: 0%;
  height: 100vh;
  width: 250px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
